.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

@media (max-width: 768px) {
  .page-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.table-card {
    background: white;
  padding: 24px;
  border-radius: 16px;
  width: 100%;   
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 900px; 
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: 12px;
  color: #16a34a;
}

td {
  padding: 14px 0;
}

.badge {
  background: #dcfce7;
  padding: 6px 12px;
  border-radius: 14px;
}

.btn-primary {
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  gap: 10px;
  vertical-align: middle;
  margin-top: 15px;
}

.btn-edit {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-edit:hover {
  background: #2563eb;
}

.btn-delete {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-delete:hover {
  background: #dc2626;
}

.btn-edit:hover,
.btn-delete:hover {
  transform: translateY(-1px);
}

.member-table {
  width: 100%;
  background: #f9f9f9;
  margin-top: 10px;
}

.member-table th {
  text-align: left;
  padding: 8px;
}

.member-table td {
  padding: 8px;
}

.btn-remove {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.2s ease;
}

.btn-remove:hover {
  background-color: #dc2626;
  transform: scale(1.05);
}

.btn-remove:active {
  transform: scale(0.95);
}